.card {
    max-width: 1000px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.card-radio-container {
    text-align: left;
    margin-bottom: 10px;
}

.radio-label {
    margin-left: 5px;
}